@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&family=Nunito:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  overflow-x: hidden; }

html, body {
  font-family: 'Nunito', 'Josefin Sans', sans-serif; }

html {
  font-size: 1rem; }

body {
  font-family: 'Munito', sans-serif;
  font-weight: 300;
  color: #6D5D4B;
  line-height: 1.6; }

.header {
  background-color: goldenrod;
  grid-column: full-start / col-end 6; }

.sidebar {
  background-color: darkviolet;
  /* spanning grid item*/
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; }

.footer {
  background-color: chartreuse;
  grid-column: full-start / full-end; }

.realtor {
  background-color: olive;
  grid-column: col-start 7 / full-end; }

.feature {
  grid-column: center-start / center-end;
  margin: 10rem auto;
  /* parent of grid container.  */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  align-items: start; }
  .feature-box {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 0.2rem;
    grid-column-gap: 0.8rem; }
  .feature__icon {
    /* for use color property in svg*/
    fill: #c69963;
    width: 3rem;
    height: 3rem;
    grid-row: 1 / span 2; }
  .feature__heading {
    /* changes heading font-family */
    font-family: 'Josefin Sans';
    font-weight: 500; }
  .feature__text {
    font-size: 1rem; }

.story__picture {
  background-color: seagreen;
  grid-column: full-start / col-end 4; }

.story__content {
  background-color: tomato;
  grid-column: col-start 5 / full-end; }

.home {
  background-color: blue;
  grid-column: center-start / center-end; }

.gallery {
  background-color: orangered;
  grid-column: full-start / full-end; }

.container {
  min-width: 100vw;
  min-height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 5rem [sidebar-end full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 9rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
  /*
        naming the grid-column line. naming with grid, it's important. making full blend section
        minmax() accept 2 values - The minimum & The maximum 
        min-content - fit the content without overflow
        max-content - make the columns wide as much as possible, without line break
    */ }
