html, body{
    font-family: 'Nunito', 'Josefin Sans', sans-serif;
}

html{
    font-size: 1rem; // 16px

    @include responsive(tab__landscape){
        font-size: 0.8rem;
    }

    @include responsive(tab__portait){
        font-size: 0.7rem;
    }

    @include responsive(phone){
        font-size: 0.6rem;
    }
}

body{
    font-family: 'Munito', sans-serif;
    font-weight: 300;
    color: $color-grey-dark-2;
    line-height: 1.6;
}