.container{
    min-width: 100vw;
    min-height: auto;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: 85vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [sidebar-start] 5rem [sidebar-end full-start] 
                            minmax(4rem, 1fr) [center-start] 
                            repeat(8, [col-start] minmax(min-content, 9rem) [col-end] ) 
                            [center-end] minmax(4rem, 1fr) [full-end];
    
    /*
        naming the grid-column line. naming with grid, it's important. making full blend section
        minmax() accept 2 values - The minimum & The maximum 
        min-content - fit the content without overflow
        max-content - make the columns wide as much as possible, without line break
    */
}