.feature{
    // child of a grid. it's a grid item.
    grid-column: center-start / center-end;

    margin: 10rem auto;
    /* parent of grid container.  */
    display: grid;
    //grid-template-columns: repeat(3, 1fr);
    /*  don't need to any media queries
        using auto-fit & minmax property
        simply creates as many tracks as can fit
        based on width that we defined.
    */
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    // don't need to specify any row. it's a implicit grid.
    grid-gap: 3rem;
    align-items: start;
    
    &-box{
        
        display: grid;
        grid-template-columns: min-content 1fr;
        
        grid-row-gap: 0.2rem;
        grid-column-gap: 0.8rem;
    }

    &__icon{
        /* for use color property in svg*/
        fill: $color-primary;
        width: 3rem;
        height: 3rem;

        grid-row: 1 / span 2;
    }

    &__heading{
        /* changes heading font-family */
        font-family: 'Josefin Sans';
        font-weight: 500;
    }

    &__text{
        font-size: 1rem;
    }
}